@model versión_5_asp.Models.ApplicationUser
@{
    ViewData["Title"] = "Profile";
}

<h1>Perfil</h1>

<hr/>
<div>
   
    <dl>
        <dt>@Html.DisplayNameFor(model => model.FullName)</dt>
        <dd> @Html.DisplayFor(model => model.FullName)</dd>
        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dd> @Html.DisplayFor(model => model.Email)</dd>
        <dt>@Html.DisplayNameFor(model => model.Address)</dt>
        <dd> @Html.DisplayFor(model => model.Address)</dd>
        <dt>@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
        <dd> @Html.DisplayFor(model => model.PhoneNumber)</dd>
    </dl>
    
</div>    
        
