@model IEnumerable<versión_5_asp.Models.EnlaceHecho>

@{
    ViewData["Title"] = "Trueques completados";
}


@section css {
<link href="@Url.Content("~/css/style.css")" rel="stylesheet" />
}

<main role="main" class="app-content px-3" style="padding: calc(1rem*5); ">
    <partial name="_StatusMessage" model=@ViewData["Message"]/>
    <div class="container">
        <div class="line-length-sm">
            <article class="card py-5">
                <h2 class="text-center">Trueques completados</h2>
                <form asp-action="Index" method="get">
                    <div class="filters d-flex flex-column flex-md-row justify-content-center align-items-center">
                        <p class="lead m-3">Filtrar por Propone/Busca:</p>
                        <input type="text" class="form-control" name="SearchString" value="@ViewData["CurrentFilter"]">
                        <button type="submit" id="search-btn" class="btn bg-orange text-white my-3 mx-2"><i class="fa fa-search"></i></button>
                        <a asp-action="Index" id="reset-btn" class="btn bg-orange text-white my-3"><i class="fa-solid fa-arrows-rotate"></i></a>
                    </div>
                </form>
                <p>
                </p>
                <div class="table-responsive">
                    <table class="table caption-top">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">Fecha</th>
                                <th scope="col">Trueque solicitado</th>
                                <th scope="col">Trueque propuesto</th>   
                                <th scope="col">Acciones</th>   
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() != 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.Fecha;
                                        </td>
                                     
                                            @if (item.TruequeSu != null)
                                            {
                                                <td>
                                                        <a asp-action="Details" asp-controller="TruequesWeb" asp-route-id="@item.TruequeSu.Id" asp-route-returnUrl="@Context.Request.Path">Propone: @item.TruequeSu.Proposition /<br>Busca: @item.TruequeSu.Search</a>
                                                </td>
                                            }
                                      
                                       
                                            @if (item.TruequeMi != null)
                                            {
                                               <td>
                                                        <a asp-action="TruequeSolicitudDetails" asp-controller="TruequesWeb" asp-route-id="@item.TruequeMi.Id" asp-route-returnUrl="@Context.Request.Path">Propone: @item.TruequeMi.Proposition /<br>Busca: @item.TruequeMi.Search</a>
                                               </td>
                                            }
                                   
                                        
                                      
                                            <td class="options"> 
                                                <a class="request-btn text-danger me-2" asp-action="Delete" asp-route-id="@item.Id" asp-route-returnUrl="@Context.Request.Path" data-bs-placement="top" data-bs-toggle="tooltip" title="Eliminar" ><i class="fa fa-trash-alt"></i></a>
                                            </td>

                                        

                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </article>
        </div>
    </div>
</main>