@model IEnumerable<versión_5_asp.Models.Trueque>
@{
    ViewData["Title"] = "Mis Trueques";
}

<h1>Mis Trueques</h1>
<a asp-action="Create" asp-route-returnUrl="@Context.Request.Path">Crear trueque</a>

<div class="col-sm-12">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Proposition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Search)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExtraInfo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() != 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Proposition)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Search)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExtraInfo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" asp-route-returnUrl="@Context.Request.Path">Editar</a> |
                            <a asp-action="Details" asp-route-returnUrl="@Context.Request.Path" asp-route-id="@item.Id">Detalles</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" asp-route-returnUrl="@Context.Request.Path">Eliminar</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3" class="text-center">No se encontraron resultados!</td>
                </tr>
            }

        </tbody>
    </table>
</div>