@model versión_5_asp.Models.Trueque
@{
    ViewData["Title"] = "Crear Solicitud";
}

<h1>Crear Solicitud</h1>

<hr/>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
        <h3>Cree el trueque que complementa el elegido anteriormente</h3>
        <form asp-action="SendRequest" asp-route-truequeMiId="@Model.Id" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<versión_5_asp.Models.Type>()">
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proposition" class="control-label"></label>
                <input asp-for="Proposition" class="form-control" value="@Model.Search" />
                <span asp-validation-for="Proposition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Search" class="control-label"></label>
                <input asp-for="Search" class="form-control" value="@Model.Proposition" />
                <span asp-validation-for="Search" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExtraInfo" class="control-label"></label>
                <input asp-for="ExtraInfo" class="form-control" />
                <span asp-validation-for="ExtraInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image.ImageFile" class="control-label"></label>
                <input asp-for="Image.ImageFile" class="form-control" />
                <span asp-validation-for="Image.ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enviar Solicitud" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <h3>Trueque Objetivo</h3>
        <dl>
            @*<dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Date)
            </dd>*@
            @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ApplicationUserId)
            </dt>*@
            @*<dd class="col-sm-10">
                @Html.DisplayFor(model => model.ApplicationUserId)
            </dd>*@
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Proposition)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Proposition)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.Search)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Search)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => model.ExtraInfo)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.ExtraInfo)
            </dd>
            <dt class="col-sm-6">
                @Html.DisplayNameFor(model => @Model.Image.ImageFile)
            </dt>
            <dd>

                @if (Model.Image != null)
                {
                    <img src="@("~/Images/" + @Model.Image.ImageUrl)" asp-append-version="true" width="250" height="180" />
                }
                else
                {
                    <img src="@("~/Images/sin_imagen.jpg")" asp-append-version="true" width="250" height="180" />
                }
            </dd>
        </dl>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
