@model versión_5_asp.Models.Trueque

@{
    ViewData["Title"] = "Detalles del trueque";
}

@section css {
<link href="@Url.Content("~/css/login.css")" rel="stylesheet" />
}

<main role="main" class="app-content px-3" style="padding: calc(1rem*5); ">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="line-length-sm">
            <article class="card p-5 pt-4">
                <h2 class="my-3">Detalles del trueque</h2>
                @*<div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span class="fa fa-times-circle"></span>
                    @TempData["ErrorMsg"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>*@

                <div class="d-flex flex-column align-items-center ">
                    <img class="img-fluid d-block rounded my-3" id="frame" src="~/Images/@Model.Image.ImageUrl" style="width:204px;height:auto;" />
                    <dl>
                        <dt>
                            Categor&iacute;a
                        </dt>
                        <dd>
                            @Model.Type
                        </dd>
                        <dt>
                            Propongo
                        </dt>
                        <dd>
                            @Model.Proposition
                        </dd>
                        <dt>
                            Busco
                        </dt>
                        <dd>
                            @Model.Search
                        </dd>
                        <dt>
                            Info extra
                        </dt>
                        <dd>
                            @Model.ExtraInfo
                        </dd>

                    </dl>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn bg-orange text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Contacto
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Datos del Contacto</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <dl>
                                    <dd>
                                        @Model.ApplicationUser.FullName
                                    </dd>

                                    <dd>
                                        @Model.ApplicationUser.PhoneNumber
                                    </dd>
                                    <dd>
                                        @Model.ApplicationUser.Address
                                    </dd>
                                    <dd>
                                        @Model.ApplicationUser.Email
                                    </dd>
                                </dl>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </article>
        </div>
</main>

