@page
@model RegisterModel
@{
    ViewData["Title"] = "Registro";
}


@*<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Crear una cuenta nueva.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Province"></label>
                <input asp-for="Input.Province" class="form-control" />
                <span asp-validation-for="Input.Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Municipality"></label>
                <input asp-for="Input.Municipality" class="form-control" />
                <span asp-validation-for="Input.Municipality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Address"></label>
                <input asp-for="Input.Address" class="form-control" />
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Usar otro servicio para registrarse.</h4>
            <hr />
@{
    if ((Model.ExternalLogins?.Count ?? 0) == 0)
    {
        <div>
            <p>
             There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
             for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else
    {
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
         <div>
            <p>
              @foreach (var provider in Model.ExternalLogins)
                {
                   <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Entre usando su cuenta de @provider.DisplayName">@provider.DisplayName</button>
                }
                </p>
                  </div>
        </form>
    }
}
        </section>
    </div>
</div>*@
@section css {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet"/>
}

    <main role="main" class="app-content px-3" style="padding: calc(1rem*5); ">
        <div class="fluid-container d-flex justify-content-center align-items-center">
            <div class="line-length-sm">
                <article class="card py-5">
                    <div class="pb-4">
                        <h2>Registrarse</h2>
                    </div>
                     <div asp-validation-summary="All" class="text-danger"></div>
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div class="container-grid">
                            <div class="form-group">
                                <label asp-for="Input.FirstName"></label>
                                <input asp-for="Input.FirstName" type="text" class="form-control" 
                                    aria-describedby="helpId">
                                     <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            </div>

                            <div class="form-group ">
                                <label asp-for="Input.LastName"></label>
                                <input asp-for="Input.LastName" type="text" class="form-control" 
                                    aria-describedby="helpId">
                                     <span asp-validation-for="Input.LastName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" type="email" class="form-control" 
                                    aria-describedby="emailHelpId">
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Cellphone">No. Celular</label>
                                <input asp-for="Input.Cellphone" type="text"  class="form-control"
                                    aria-describedby="helpId">
                                <span asp-validation-for="Input.Cellphone" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.Landline" for="landline">Tel&eacute;fono fijo</label>
                                <input asp-for="Input.Landline" type="text" class="form-control"
                                 aria-describedby="helpId">
                                  <span asp-validation-for="Input.Landline" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Address">Direcci&oacute;n</label>
                                <input asp-for="Input.Address" type="text"class="form-control"
                                    aria-describedby="helpId">
                               <span asp-validation-for="Input.Address" class="text-danger"></span>
                            </div>

                            <div class="form-group ">
                                <label asp-for="@Model.Input.Provinces"></label>
                                <select class="form-control"  asp-for=@Model.Input.ChosenProvId asp-items=@Model.Input.Provinces>
                                    <option value=0>--Seleccione--</option>                                    
                                </select>
                            </div>

                            <div class="form-group ">
                                <label asp-for="@Model.Input.Provinces"></label>
                                <select class="form-control"  asp-for=@Model.Input.ChosenMunId asp-items=@Model.Input.Municipalities>
                                    <option value=0>--Seleccione--</option>
                                </select>
                            </div>     

                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" type="password" class="form-control" >
                            </div>

                            <div class="form-group">
                                <label asp-for="Input.ConfirmationPassword"></label>
                                <input asp-for="Input.ConfirmationPassword" type="password" class="form-control" >
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg"
                                    style="width:100%;">Registrarme</button>
                            </div>
                            @{
                                if((@Model.ExternalLogins?.Count??0)!=0){
                                    <div class="form-group">
                                        <p class="text-center">Entrar con mi cuenta de:</p>
                                        <button class="btn btn-primary btn-lg" type="button"
                                            style="background-color: #3b5998; width: 100%;"><span
                                                class="fab fa-facebook-f me-2"></span>Facebook</button>
                                    </div>
                                }
                            }
                        </div>
                    </form>
                </article>
            </div>
        </div>
    </main>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
