@page
@model RegisterModel
@{
    ViewData["Title"] = "Registro";
}


<!--div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Crear una cuenta nueva.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Province"></label>
                <input asp-for="Input.Province" class="form-control" />
                <span asp-validation-for="Input.Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Municipality"></label>
                <input asp-for="Input.Municipality" class="form-control" />
                <span asp-validation-for="Input.Municipality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Address"></label>
                <input asp-for="Input.Address" class="form-control" />
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Usar otro servicio para registrarse.</h4>
            <hr />
@{
    if ((Model.ExternalLogins?.Count ?? 0) == 0)
    {
        <div>
                                <p>
                                    There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                    for details on setting up this ASP.NET application to support logging in via external services.
                                </p>
        </div>
    }
    else
    {
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                <div>
                                    <p>
                    @foreach (var provider in Model.ExternalLogins)
                    {
                                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Entre usando su cuenta de @provider.DisplayName">@provider.DisplayName</button>
                    }
                                    </p>
                                </div>
        </form>
    }
}
        </section>
    </div>
</div-->

<div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">

        <div class="col-md-8 col-lg-7 col-xl-6">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <div asp-validation-summary="All" class="text-danger"></div>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

                <div asp-validation-summary="All" class="text-danger"></div>
                <!-- First Name input -->
                <div class="form-outline mb-4">
                    <input type="text" asp-for="Input.FirstName" class="form-control form-control-lg" />
                    <label class="form-label" asp-for="Input.FirstName"></label>
                </div>

                <!-- Last Name input -->
                <div class="form-outline mb-4">
                    <input type="text" asp-for="Input.LastName" class="form-control form-control-lg" />
                    <label class="form-label" asp-for="Input.LastName"></label>
                </div>

                <!-- Province input -->
                <div class="form-outline mb-4">
                    <input type="text" asp-for="Input.Province" class="form-control form-control-lg" />
                    <label class="form-label" asp-for="Input.Province"></label>
                </div>

                <!-- Municipality input -->
                <div class="form-outline mb-4">
                    <input type="text" asp-for="Input.Municipality" class="form-control form-control-lg" />
                    <label class="form-label" asp-for="Input.Municipality"></label>
                </div>


                <!-- Address input -->
                <div class="form-outline mb-4">
                    <input type="text" asp-for="Input.Address" class="form-control form-control-lg" />
                    <label class="form-label" asp-for="Input.Address"></label>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" asp-for="Input.Email" class="form-control form-control-lg" />
                    <label class="form-label" asp-for="Input.Email"></label>
                </div>

                <!-- Passwoed input -->
                <div class="form-outline mb-4">
                    <input type="password" asp-for="Input.Password" class="form-control form-control-lg" />
                    <label class="form-label" asp-for="Input.Password"></label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-lg btn-block">Registrarse</button>
            </form>

            @{
                if ((Model.ExternalLogins?.Count ?? 0) > 0)
                {
                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0 text-muted">Entrar usando mi cuenta de:</p>
                    </div>

                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post"
                class="form-horizontal">

                        @foreach (var provider in Model.ExternalLogins)
                        {
                            if (@provider.Name == "Facebook")
                            {
                                <a class="btn btn-lg btn-block btn-auth" style="background-color: #3b5998" href="#!" role="button">
                                    <i class="fab fa-facebook-f mx-2"></i>Facebook
                                </a>
                            }
                            else if (@provider.Name == "Google")
                            {
                                <button class="btn btn-lg btn-block btn-auth" style="background-color: #55acee" role="button"
                        name="provider" value="@provider.Name">
                                    <i class="fab fa-google mx-2"></i>Google</button>

                            }

                        }
                    </form>

                }
            }

        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
